{% extends "base.html" %}

{% block title %} {% endblock %}


{% block body %}
    {% block content %}
        <body class="">

        <div class="p-4 lg:max-w-7xl lg:mx-auto pb-36">

            {#            <div class="mb-4 rounded-2xl overflow-hidden flex justify-center">#}
            {#            </div>#}

            {% include 'includes/header_with_search.html' %}

            {% include 'includes/nav.html' %}

            <main role="main">

                <div class="my-6">
                    <h2 class="font-bold text-2xl mb-4">
                        Alfavit bo&lsquo;yicha </h2>

                    <div class="overflow-x-auto -mx-4">

                        <div class="inline-flex px-4">

                            <div class="flex flex-nowrap space-x-2 w-fit sm:w-full">

                                <div class="w-64 sm:w-1/2">
                                    <div class="p-4 bg-cyan-500 text-white rounded-2xl">
                                        <h3 class="mb-2 text-center">
                                            <a href="names/boy.html">
                                                Bolalar ismi </a>
                                        </h3>
                                        <div class="grid grid-cols-6 text-center font-bold justify-center boys-link">
                                            <a href="letter/boy/A.html" class="p-2">
                                                A
                                            </a>
                                            <a href="letter/boy/B.html" class="p-2">
                                                B
                                            </a>
                                            <a href="letter/boy/D.html" class="p-2">
                                                D
                                            </a>
                                            <a href="letter/boy/E.html" class="p-2">
                                                E
                                            </a>
                                            <a href="letter/boy/F.html" class="p-2">
                                                F
                                            </a>
                                            <a href="letter/boy/G.html" class="p-2">
                                                G
                                            </a>
                                            <a href="letter/boy/H.html" class="p-2">
                                                H
                                            </a>
                                            <a href="letter/boy/I.html" class="p-2">
                                                I
                                            </a>
                                            <a href="letter/boy/J.html" class="p-2">
                                                J
                                            </a>
                                            <a href="letter/boy/K.html" class="p-2">
                                                K
                                            </a>
                                            <a href="letter/boy/L.html" class="p-2">
                                                L
                                            </a>
                                            <a href="letter/boy/M.html" class="p-2">
                                                M
                                            </a>
                                            <a href="letter/boy/N.html" class="p-2">
                                                N
                                            </a>
                                            <a href="letter/boy/O.html" class="p-2">
                                                O
                                            </a>
                                            <a href="letter/boy/P.html" class="p-2">
                                                P
                                            </a>
                                            <a href="letter/boy/Q.html" class="p-2">
                                                Q
                                            </a>
                                            <a href="letter/boy/R.html" class="p-2">
                                                R
                                            </a>
                                            <a href="letter/boy/S.html" class="p-2">
                                                S
                                            </a>
                                            <a href="letter/boy/T.html" class="p-2">
                                                T
                                            </a>
                                            <a href="letter/boy/U.html" class="p-2">
                                                U
                                            </a>
                                            <a href="letter/boy/V.html" class="p-2">
                                                V
                                            </a>
                                            <a href="letter/boy/X.html" class="p-2">
                                                X
                                            </a>
                                            <a href="letter/boy/Y.html" class="p-2">
                                                Y
                                            </a>
                                            <a href="letter/boy/Z.html" class="p-2">
                                                Z
                                            </a>
                                            <a href="letter/boy/O%E2%80%98.html" class="p-2">
                                                O‘
                                            </a>
                                            <a href="letter/boy/G%E2%80%98.html" class="p-2">
                                                G‘
                                            </a>
                                            <a href="letter/boy/Sh.html" class="p-2">
                                                Sh
                                            </a>
                                            <a href="letter/boy/Ch.html" class="p-2">
                                                Ch
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-64 sm:w-1/2">
                                    <div class="p-4 bg-pink-500 text-white rounded-2xl">
                                        <h3 class="mb-2 text-center">
                                            <a href="names/girl.html">
                                                Qizlar ismi </a>
                                        </h3>
                                        <div class="grid grid-cols-6 text-center font-bold justify-center girls-link">
                                            <a href="letter/girl/A.html" class="p-2">
                                                A
                                            </a>
                                            <a href="letter/girl/B.html" class="p-2">
                                                B
                                            </a>
                                            <a href="letter/girl/D.html" class="p-2">
                                                D
                                            </a>
                                            <a href="letter/girl/E.html" class="p-2">
                                                E
                                            </a>
                                            <a href="letter/girl/F.html" class="p-2">
                                                F
                                            </a>
                                            <a href="letter/girl/G.html" class="p-2">
                                                G
                                            </a>
                                            <a href="letter/girl/H.html" class="p-2">
                                                H
                                            </a>
                                            <a href="letter/girl/I.html" class="p-2">
                                                I
                                            </a>
                                            <a href="letter/girl/J.html" class="p-2">
                                                J
                                            </a>
                                            <a href="letter/girl/K.html" class="p-2">
                                                K
                                            </a>
                                            <a href="letter/girl/L.html" class="p-2">
                                                L
                                            </a>
                                            <a href="letter/girl/M.html" class="p-2">
                                                M
                                            </a>
                                            <a href="letter/girl/N.html" class="p-2">
                                                N
                                            </a>
                                            <a href="letter/girl/O.html" class="p-2">
                                                O
                                            </a>
                                            <a href="letter/girl/P.html" class="p-2">
                                                P
                                            </a>
                                            <a href="letter/girl/Q.html" class="p-2">
                                                Q
                                            </a>
                                            <a href="letter/girl/R.html" class="p-2">
                                                R
                                            </a>
                                            <a href="letter/girl/S.html" class="p-2">
                                                S
                                            </a>
                                            <a href="letter/girl/T.html" class="p-2">
                                                T
                                            </a>
                                            <a href="letter/girl/U.html" class="p-2">
                                                U
                                            </a>
                                            <a href="letter/girl/V.html" class="p-2">
                                                V
                                            </a>
                                            <a href="letter/girl/X.html" class="p-2">
                                                X
                                            </a>
                                            <a href="letter/girl/Y.html" class="p-2">
                                                Y
                                            </a>
                                            <a href="letter/girl/Z.html" class="p-2">
                                                Z
                                            </a>
                                            <a href="letter/girl/O%E2%80%98.html" class="p-2">
                                                O‘
                                            </a>
                                            <a href="letter/girl/G%E2%80%98.html" class="p-2">
                                                G‘
                                            </a>
                                            <a href="letter/girl/Sh.html" class="p-2">
                                                Sh
                                            </a>
                                            <a href="letter/girl/Ch.html" class="p-2">
                                                Ch
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>

                    </div>

                </div>

                <div class="my-6">
                    <div class="flex justify-between items-center mb-4">
                        <h2 class="font-bold text-2xl">
                            Ruknlar </h2>
                        <a href="categories.html">Hamma ruknlar</a>
                    </div>

                    <div class="overflow-x-auto -mx-4">

                        <div class="inline-flex px-4">

                            <div class="flex flex-nowrap whitespace-nowrap space-x-2">

                                <a href="category/Arabcha%EF%B9%96gender=.html"
                                   class="bg-gray-100 py-2 px-4 rounded-full">
                                    Arabcha
                                </a>
                                <a href="category/Boshqalar%EF%B9%96gender=.html"
                                   class="bg-gray-100 py-2 px-4 rounded-full">
                                    Boshqalar
                                </a>
                                <a href="category/Fors-tojikcha%EF%B9%96gender=.html"
                                   class="bg-gray-100 py-2 px-4 rounded-full">
                                    Fors-tojikcha
                                </a>
                                <a href="category/Fransuzcha%EF%B9%96gender=.html"
                                   class="bg-gray-100 py-2 px-4 rounded-full">
                                    Fransuzcha
                                </a>
                                <a href="category/Inglizcha%EF%B9%96gender=.html"
                                   class="bg-gray-100 py-2 px-4 rounded-full">
                                    Inglizcha
                                </a>
                                <a href="category/Ispancha%EF%B9%96gender=.html"
                                   class="bg-gray-100 py-2 px-4 rounded-full">
                                    Ispancha
                                </a>
                                <a href="category/Italyancha%EF%B9%96gender=.html"
                                   class="bg-gray-100 py-2 px-4 rounded-full">
                                    Italyancha
                                </a>
                                <a href="category/Mo%E2%80%98g%E2%80%98ulcha%EF%B9%96gender=.html"
                                   class="bg-gray-100 py-2 px-4 rounded-full">
                                    Mo‘g‘ulcha
                                </a>
                                <a href="category/Nemischa%EF%B9%96gender=.html"
                                   class="bg-gray-100 py-2 px-4 rounded-full">
                                    Nemischa
                                </a>
                                <a href="category/O%E2%80%98zbekcha%EF%B9%96gender=.html"
                                   class="bg-gray-100 py-2 px-4 rounded-full">
                                    O‘zbekcha
                                </a>
                                <a href="category/Pahlaviycha%EF%B9%96gender=.html"
                                   class="bg-gray-100 py-2 px-4 rounded-full">
                                    Pahlaviycha
                                </a>
                                <a href="category/Qozoqcha%EF%B9%96gender=.html"
                                   class="bg-gray-100 py-2 px-4 rounded-full">
                                    Qozoqcha
                                </a>
                                <a href="category/Ruscha%EF%B9%96gender=.html"
                                   class="bg-gray-100 py-2 px-4 rounded-full">
                                    Ruscha
                                </a>
                                <a href="category/Suryoniycha%EF%B9%96gender=.html"
                                   class="bg-gray-100 py-2 px-4 rounded-full">
                                    Suryoniycha
                                </a>
                                <a href="category/Yahudiycha%EF%B9%96gender=.html"
                                   class="bg-gray-100 py-2 px-4 rounded-full">
                                    Yahudiycha
                                </a>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="my-6">

                    <h2 class="text-2xl font-bold mb-4">
                        Oxirgi qidiruv so‘rovlari </h2>

                    <div class="flex flex-col space-y-2">
                        <a href="collection/Payg%E2%80%98ambar%20va%20sahobalarimizning%20ismlari.html"
                           class="bg-gray-100 py-2 px-4 rounded-full flex items-center">
                            <div class="grow">
                                islomiy ismlar
                            </div>
                            <i class="fas fa-angle-right text-gray-500"></i>
                        </a>
                        <a href="name/Ulug%E2%80%98bek.html"
                           class="bg-gray-100 py-2 px-4 rounded-full flex items-center">
                            <div class="grow">
                                Ulugʻbek
                            </div>
                            <i class="fas fa-angle-right text-gray-500"></i>
                        </a>
                        <a href="collection/Jilvakor%20hamda%20jarangli%20ismlar.html"
                           class="bg-gray-100 py-2 px-4 rounded-full flex items-center">
                            <div class="grow">
                                Jarangli ismlar
                            </div>
                            <i class="fas fa-angle-right text-gray-500"></i>
                        </a>
                    </div>

                </div>

                <div class="my-6">

                    <h2 class="text-2xl font-bold mb-4">
                        Qiziqarli ruknlar </h2>

                    <div class="overflow-x-auto -mx-4">

                        <div class="inline-flex px-4">

                            <div class="flex flex-nowrap space-x-2 w-fit">
                                <div class="w-64">
                                    <a href="https://ismlar.com/collection/29%20fevralda%20tug%E2%80%98ilganlar%20tavallud%20kunini%20qanday%20nishonlaydi?"
                                       class="p-4 bg-gray-100 rounded-2xl block h-full">
                                        29 fevralda tug‘ilganlar tavallud kunini qanday nishonlaydi?
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                                             class="inline">
                                            <path d="M16.6914 10.7148L11.6914 15.7148C11.5039 15.9023 11.2539 15.9961 11.0039 15.9961C10.7227 15.9961 10.4727 15.9023 10.2852 15.7148C9.87891 15.3398 9.87891 14.6836 10.2852 14.3086L13.5664 10.9961H4.00391C3.44141 10.9961 3.00391 10.5586 3.00391 9.99609C3.00391 9.46484 3.44141 8.99609 4.00391 8.99609H13.5664L10.2852 5.71484C9.87891 5.33984 9.87891 4.68359 10.2852 4.30859C10.6602 3.90234 11.3164 3.90234 11.6914 4.30859L16.6914 9.30859C17.0977 9.68359 17.0977 10.3398 16.6914 10.7148Z"
                                                  fill="#111111"></path>
                                        </svg>
                                    </a>
                                </div>
                                <div class="w-64">
                                    <a href="collection/Arabcha%20ismlar.html"
                                       class="p-4 bg-gray-100 rounded-2xl block h-full">
                                        Arabcha ismlar
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                                             class="inline">
                                            <path d="M16.6914 10.7148L11.6914 15.7148C11.5039 15.9023 11.2539 15.9961 11.0039 15.9961C10.7227 15.9961 10.4727 15.9023 10.2852 15.7148C9.87891 15.3398 9.87891 14.6836 10.2852 14.3086L13.5664 10.9961H4.00391C3.44141 10.9961 3.00391 10.5586 3.00391 9.99609C3.00391 9.46484 3.44141 8.99609 4.00391 8.99609H13.5664L10.2852 5.71484C9.87891 5.33984 9.87891 4.68359 10.2852 4.30859C10.6602 3.90234 11.3164 3.90234 11.6914 4.30859L16.6914 9.30859C17.0977 9.68359 17.0977 10.3398 16.6914 10.7148Z"
                                                  fill="#111111"></path>
                                        </svg>
                                    </a>
                                </div>
                                <div class="w-64">
                                    <a href="collection/Jilvakor%20hamda%20jarangli%20ismlar.html"
                                       class="p-4 bg-gray-100 rounded-2xl block h-full">
                                        Jilvakor hamda jarangli ismlar
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                                             class="inline">
                                            <path d="M16.6914 10.7148L11.6914 15.7148C11.5039 15.9023 11.2539 15.9961 11.0039 15.9961C10.7227 15.9961 10.4727 15.9023 10.2852 15.7148C9.87891 15.3398 9.87891 14.6836 10.2852 14.3086L13.5664 10.9961H4.00391C3.44141 10.9961 3.00391 10.5586 3.00391 9.99609C3.00391 9.46484 3.44141 8.99609 4.00391 8.99609H13.5664L10.2852 5.71484C9.87891 5.33984 9.87891 4.68359 10.2852 4.30859C10.6602 3.90234 11.3164 3.90234 11.6914 4.30859L16.6914 9.30859C17.0977 9.68359 17.0977 10.3398 16.6914 10.7148Z"
                                                  fill="#111111"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </main>

            {% include 'includes/footer.html' %}
            
        </div>
        </body>
    {% endblock %}
{% endblock %}

